/* CSS base */
body {
  width: 450px; 
  margin: 0 auto;
  background: #7104ff;
}

.container{
  padding-bottom: 100px; 
  border-radius: 20px;
  background-color: #ffffffe3;
}

a {
  color: #e60101;
}